.orange {
    background-color: #f4511e !important;
}
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
    border: 2px solid #f4511e;
}
[type="radio"].with-gap:checked + label:after {
    background-color: #f4511e;
}
label {
    color: black;
}
.tipo {
    background-color: palegreen;
    border-radius: 10px;
}
.lbltipo {
    color: black;
}
.botaoadd {
    background-color: palegreen;
}
.testequestao {
    border: 1px solid black;
    padding: 8px;
}
.questao {
    margin: 5px 0 5px 10%;
    padding: 5px;
}
.cabecalho {
    padding: 5px;
    border-radius: 0 10px 10px 0;
    height: 40px;
}
.content-questao {
    margin-left: 20px;
    padding-right: 7%;
}
.page {
    margin: 0px;
}
.enun {
    text-align: justify;
    text-justify: inter-word;
    font-weight: bold;
}
#txtAreaEnun {
    resize: vertical;
}